.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Typography */

.small-header {
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .small-header {
    font-size: calc((5/224) * 100vw + 7px);
  }
}

.large-text {
  font-size: calc((18/256) * 100vw);
  font-weight: 700;
  line-height: calc((9/256) * 100vw + 54px);
}

@media (min-width: 1024px) {
  .large-text {
    font-size: 72px;
    line-height: 90px;
  }
}

@media (max-width: 768px) {
  .large-text {
    font-size: calc((15/224) * 100vw + 2.5px);
    line-height: calc((18/224) * 100vw + 10px);
  }
}

/* Links */

.medium-btn-link {
  font-weight: 500;
  font-size: calc((3/64) * 100vw - 12px);
  text-decoration: none;
  text-align: center;
  padding: calc((1/64) * 100vw + 4px) calc((1/32) * 100vw + 8px);
}

@media (min-width: 1024px) {
  .medium-btn-link {
    font-size: 36px;
    padding: 20px 40px;
  }
}

@media (max-width: 768px) {
  .medium-btn-link {
    font-size: calc((3/224) * 100vw + 14px);
    padding: calc((1/112) * 100vw + 9px) calc((3/224) * 100vw + 22px);
  }
}

/* App Styles */

.App {
  color: #546C72;
  padding: 80px;
  height: 100vh;
}

@media (max-width: 768px) {
  .App {
    padding: calc((1/7) * 100vw - 29px);
  }
}

.App-logo {
  height: 50px;
}

.App-header {
  padding: 20px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Onboarding Styles */

.Onboarding-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 40px;
}

@media (max-width: 768px) {
  .Onboarding-grid {
    grid-row-gap: calc((3/56) * 100vw - 1px);
  }
}

/* ToDo List Styles */

.ToDoList-container {
  margin: 0 auto;
  max-width: 500px;
}

.ToDoList-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ToDoList-header h1 {
  margin: 0px;
  margin-top: 6px;
}

.AddToDo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AddToDo-input {
  margin-right: 16px;
  padding: 4px 8px 4px;
  height: 32px;
  width: 200px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 3px;
  border: 1px solid #546C72;
  outline: none;
}

.AddToDo-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}